{% extends 'base.html.twig' %}


{% block content %}

    <br>

    <ul class="nav nav-pills">
        <li class="nav-item">
            <a style="" type="button" class="nav-link btn btn-warning"
               href="#">{{ "now"|format_datetime(pattern="E d LLL", locale='nl')|upper }}</a>
        </li>
        {% for i in 1..15 %}
            <li class="nav-item">
                <a class="nav-link text-dark"
                   href="#">{{ "+#{i}days"|format_datetime(pattern="E d LLL", locale='nl')|upper }}</a>
            </li>
        {% endfor %}
        <li class="nav-item">
            <a class="nav-link text-dark" href="#">LATER</a>
        </li>
    </ul>
    <br>
    <br>

    <div class="table-responsive">
        <table class="table table-bordered" style="text-align: center">
            <thead>
            <tr>
                <th>Tijd</th>
                <th>Foto</th>
                <th>Sport</th>
                <th>Aantal ingeschreven deelnemers</th>
                <th>Prijs (EUR)</th>
                <th>Beschrijving</th>
                <th>Inschrijven</th>
            </tr>
            </thead>
            <tbody>
            {% for lesson in lessons %}
                <tr>
                    <td>{{ lesson.time ? lesson.time|date('H:i') : '' }}</td>
                    <td><img class="img-fluid rounded "
                             src="{{ asset('uploads/brochures/' ~ lesson.trainingId.BrochureFilename) }}"
                             alt="" style="height: 200px"></td>
                    <td>{{ lesson.trainingId.naam }}</td>
                    <td>{{ lesson.registrations|length }}/{{ lesson.maxPersons }}</td>
                    <td>{{ lesson.trainingId.costs }}</td>
                    <td>{{ lesson.trainingId.description }}</td>

                    {% set used = 'false' %}
                    {% for registration in lesson.registrations %}
                        {% if registration.user.id == app.user.id %}
                            <td>
                                <form class="d-inline" method="post" action="{{ path('userlesson_user_delete_inschrijven', {'id': registration.id}) }}" onsubmit="return confirm('Weet je zeker dat je wilt uitschrijven?');">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ registration.id) }}">
                                    <button style="width: 120px;" class="btn btn-outline-danger d-inline">
                                        <span class="replies">Ingeschreven</span>
                                        <span class="comment">Uitschrijven</span>
                                    </button>
                                </form>
                            </td>
                            {% set used = 'true' %}
                        {% endif %}
                    {% endfor %}
                    {% if lesson.registrations|length < lesson.maxPersons and used == 'false' %}
                        <td><a style="width: 120px;"  type="button" class="btn btn-outline-success"
                               href="/user/inschrijven/{{ lesson.id }}">Inschrijven</a>
                        </td>
                    {% elseif used == 'false' %}
                        <td>
                            <button  style="width: 120px;"  class="btn btn-outline-danger">Vol</button>
                        </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <style>
        button .comment { display: none; }
        button:hover .replies { display: none; }
        button:hover .comment { display: inline; }
    </style>
{% endblock %}
