{% extends 'base.html.twig' %}


{% block content %}
    {% include 'card.html.twig' %}
    <br>

    <ul class="nav nav-pills">
        <li class="nav-item">
            <a style="" type="button" class="nav-link btn btn-warning"
               href="#">{{ "now"|format_datetime(pattern="E d LLL", locale='nl')|upper }}</a>
        </li>
        {% for i in 1..15 %}
            <li class="nav-item">
                <a class="nav-link text-dark"
                   href="#">{{ "+#{i}days"|format_datetime(pattern="E d LLL", locale='nl')|upper }}</a>
            </li>
        {% endfor %}
        <li class="nav-item">
            <a class="nav-link text-dark" href="#">LATER</a>
        </li>
    </ul>
    <br>
    <br>
    <div class="table-responsive">
        <table class="table table-bordered" style="text-align: center">
            <thead>
            <tr>
                <th>Tijd</th>
                <th>Foto</th>
                <th>Sport</th>
                <th>Aantal ingeschreven deelnemers</th>
                <th>Prijs (EUR)</th>
                <th>Beschrijving</th>
                <th>Inschrijven</th>
            </tr>
            </thead>
            <tbody>

{#                    {% if app.user.id != registration.user.id %}#}
{#                        a#}
{#                    {% endif %}#}
{#                {% endfor %}#}

{#                {{ lesson.registrations|raw }}#}
{#                {% for registration in registrations %}#}
{% with %}
    {% set i = 0 %}



                    {% for lesson in lessons %}
{#                        {{ i }}#}
{#                        {% set i = i + 1 %}#}

{#                        {% set x = 0 %}#}
{#                        {% for registration in registrations %}#}

{#                            {% set x = x + 1 %}#}

{#                            {% if i == x %}#}
{#                                {% if app.user.id != registration.user.id %}#}
                                <tr>
                                    <td>{{ lesson.time ? lesson.time|date('H:i') : '' }}</td>
                                    <td><img class="img-fluid rounded "
                                             src="{{ asset('uploads/brochures/' ~ lesson.trainingId.BrochureFilename) }}"
                                             alt=""></td>
                                    <td>{{ lesson.trainingId.naam }}</td>
                                    <td>{{ lesson.maxPersons }}</td>
                                    <td>{{ lesson.trainingId.costs }}</td>
                                    <td>{{ lesson.trainingId.description }}</td>
                                    <td><a type="button" class="btn btn-outline-success"
                                           href="/user/inschrijven/{{ lesson.id }}">Inschrijven</a>
                                    </td>
                                </tr>
{#                                    {% endif %}#}
{#                                {% endif %}#}
{#                    {% else %}#}
{#                        <tr>#}
{#                            <td>{{ lesson.time ? lesson.time|date('H:i') : '' }}</td>#}
{#                            <td><img class="img-fluid rounded "#}
{#                                     src="{{ asset('uploads/brochures/' ~ lesson.trainingId.BrochureFilename) }}"#}
{#                                     alt=""></td>#}
{#                            <td>{{ lesson.trainingId.naam }}</td>#}
{#                            <td>{{ lesson.maxPersons }}</td>#}
{#                            <td>{{ lesson.trainingId.costs }}</td>#}
{#                            <td>{{ lesson.trainingId.description }}</td>#}
{#                            <td><a type="button" class="btn btn-outline-success"#}
{#                                   href="/user/inschrijven/{{ lesson.id }}">Inschrijven</a>#}
{#                            </td>#}
{#                        </tr>#}
{#                    {% endfor %}#}

            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
{% endwith %}
            </tbody>
        </table>
    </div>
{% endblock %}
