{% extends 'base.html.twig' %}


{% block content %}
    {% include 'card.html.twig' %}
    <br>

    <ul class="nav nav-pills">
        <li class="nav-item">
            <a style="" type="button" class="nav-link btn btn-warning"
               href="#">{{ "now"|format_datetime(pattern="E d LLL", locale='nl')|upper }}</a>
        </li>
        {% for i in 1..15 %}
            <li class="nav-item">
                <a class="nav-link text-dark"
                   href="#">{{ "+#{i}days"|format_datetime(pattern="E d LLL", locale='nl')|upper }}</a>
            </li>
        {% endfor %}
        <li class="nav-item">
            <a class="nav-link text-dark" href="#">LATER</a>
        </li>
    </ul>
    <br>
    <br>
    <div class="table-responsive">
        <table class="table table-bordered" style="text-align: center">
            <thead>
            <tr>
                <th>Tijd</th>
                <th>Foto</th>
                <th>Sport</th>
                <th>Aantal ingeschreven deelnemers</th>
                <th>Prijs (EUR)</th>
                <th>Beschrijving</th>
                <th>Inschrijven</th>
            </tr>
            </thead>
            <tbody>

            {#                    {% if app.user.id != registration.user.id %}#}
            {#                        a#}
            {#                    {% endif %}#}
            {#                {% endfor %}#}

            {#                {{ lesson.registrations|raw }}#}
            {#                {% for registration in registrations %}#}


            {% set used = 'false' %}
            {% for lesson in lessons %}
                {% for registration in registrations %}
                    {% if registration.lessonId.id != lesson.id and registration.user.id == app.user.id %}
                        <tr>
                            <td>{{ lesson.time ? lesson.time|date('H:i') : '' }}</td>
                            <td><img class="img-fluid rounded "
                                     src="{{ asset('uploads/brochures/' ~ lesson.trainingId.BrochureFilename) }}"
                                     alt="" style="height: 200px"></td>
                            <td>{{ lesson.trainingId.naam }}</td>
                            <td>{{ lesson.registrations|length }}/{{ lesson.maxPersons }}</td>
                            <td>{{ lesson.trainingId.costs }}</td>
                            <td>{{ lesson.trainingId.description }}</td>
                            {% if lesson.registrations|length < lesson.maxPersons %}
                                <td><a type="button" class="btn btn-outline-success"
                                       href="/user/inschrijven/{{ lesson.id }}">Inschrijven</a>
                                </td>
                            {% else %}
                                <td><a type="button" class="btn btn-outline-danger"
                                       href="#">Vol</a>
                                </td>
                            {% endif %}
                        </tr>
                        {% set used = 'true' %}

                    {% else %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            {% for lesson in lessons %}

                {% if lesson.registration ==  app.user.id %}
                    same
                {% endif %}

                {% if used == 'false' %}
                    <tr>
                        <td>{{ lesson.time ? lesson.time|date('H:i') : '' }}</td>
                        <td><img class="img-fluid rounded "
                                 src="{{ asset('uploads/brochures/' ~ lesson.trainingId.BrochureFilename) }}"
                                 alt="" style="height: 200px"></td>
                        <td>{{ lesson.trainingId.naam }}</td>
                        <td>{{ lesson.registrations|length }}/{{ lesson.maxPersons }}</td>
                        <td>{{ lesson.trainingId.costs }}</td>
                        <td>{{ lesson.trainingId.description }}</td>
                        {% if lesson.registrations|length < lesson.maxPersons %}
                            <td><a type="button" class="btn btn-outline-success"
                                   href="/user/inschrijven/{{ lesson.id }}">Inschrijven</a>
                            </td>
                        {% else %}
                            <td><a type="button" class="btn btn-outline-danger"
                                   href="#">Vol</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}







            {#            {% else %}#}
            {#                <tr>#}
            {#                    <td colspan="6">no records found</td>#}
            {#                </tr>#}
            {#            {% endfor %}#}

            </tbody>
        </table>
    </div>
{% endblock %}
