{{ form_start(form) }}
    {{ form_widget(form) }}
<a type="button" class="btn btn-outline-success "
   href="{{ path('user_index') }}">Terug</a>
    <button class="btn btn-outline-warning ">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

