{% extends 'base.html.twig' %}

{% block content %}
    <h1>Gebruiker overzicht</h1>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Loginname</th>
                    <th>Eerstenaam</th>
                    <th>Tussen voegsel</th>
                    <th>Achternaam</th>
                    <th>Acties</th>
                </tr>
            </thead>
            <tbody>

            {% for user in users %}
                {% if "ROLE_USER" in user.roles and app.request.get('_route') == 'adminuser_index' %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.loginname }}</td>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.preprovision }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>
                            <a type="button" class="btn btn-outline-success"
                               href="{{ path('adminuser_show', {'id': user.id}) }}">show</a>
                            <a type="button" class="btn btn-outline-warning"
                               href="{{ path('adminuser_edit', {'id': user.id}) }}">edit</a>
                            {{ include('user/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {%  elseif "ROLE_INSTRUCTEUR" in user.roles and app.request.get('_route') == 'admininstructeurs' %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.loginname }}</td>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.preprovision }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>
                            <a type="button" class="btn btn-outline-success"
                               href="{{ path('adminuser_show', {'id': user.id}) }}">show</a>
                            <a type="button" class="btn btn-outline-warning"
                               href="{{ path('adminuser_edit', {'id': user.id}) }}">edit</a>
                            {{ include('user/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="6">Geen User's Gevonden</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
        {% if app.request.get('_route') == 'adminuser_index' %}
            <a type="button" class="btn btn-outline-success"
               href="{{ path('adminuser_new') }}">Aanmaken</a>
        {%  elseif app.request.get('_route') == 'admininstructeurs' %}
            <a type="button" class="btn btn-outline-success"
               href="{{ path('admininstructeur_new') }}">Aanmaken</a>
        {% endif %}
{% endblock %}
