{% extends 'base.html.twig' %}


{% block content %}
    <h1>Gebruiker</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Loginname</th>
            <td>{{ user.loginname }}</td>
        </tr>
        <tr>
            <th>Firstname</th>
            <td>{{ user.firstname }}</td>
        </tr>
        <tr>
            <th>Preprovision</th>
            <td>{{ user.preprovision }}</td>
        </tr>
        <tr>
            <th>Lastname</th>
            <td>{{ user.lastname }}</td>
        </tr>
        <tr>
            <th>Dateofbirth</th>
            <td>{{ user.dateofbirth  ? user.dateofbirth|date('d-m-Y') : '' }}</td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>{{ user.gender }}</td>
        </tr>
        <tr>
            <th>Hiring_date</th>
            <td>{{ user.hiringDate }}</td>
        </tr>
        <tr>
            <th>Salary</th>
            <td>{{ user.salary }}</td>
        </tr>
        <tr>
            <th>Street</th>
            <td>{{ user.street }}</td>
        </tr>
        <tr>
            <th>Postal_code</th>
            <td>{{ user.postalCode }}</td>
        </tr>
        <tr>
            <th>Place</th>
            <td>{{ user.place }}</td>
        </tr>
        <tr>
            <th>Roles</th>
            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
        </tr>
        {% if user.roles == ['ROLE_INSTRUCTEUR'] %}
        <tr>
            <th>Omzet</th>
            <td>
                {% set omzet = 0.00 %}
                {% for registration in registrations %}
                    {% if registration.lessonId.instructeur.id == user.id %}
                        {% if registration.payment == true %}
                            {% set omzet = omzet + registration.lessonId.trainingId.costs %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                €{{ omzet }}
            </td>
        </tr>
        {% endif %}
        <tr>
            <th>Aanzetten/Uitzetten</th>
            <td>{{ include('user/disable-enable.html.twig') }}</td>
        </tr>
        </tbody>
    </table>

    <table class="table table-bordered" style="text-align: center">
        <thead>
        <tr>
            <th>Datum</th>
            <th>Tijd</th>
            <th>Zaal</th>
            <th>Sport</th>
            {% if user.roles != ['ROLE_INSTRUCTEUR'] %}
                <th>Prijs (EUR)</th>
                <th>Betaald</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
            {% if user.roles  == ['ROLE_INSTRUCTEUR'] %}
                {% for lesson in lessons %}
                    {% if lesson.instructeur.id == user.id %}
                        <tr>
                            <td>{{ lesson.date  ? lesson.date|date('Y-m-d') : '' }}</td>
                            <td>{{ lesson.time  ? lesson.time|date('H:i') : '' }}</td>
                            <td>{{ lesson.location }}</td>
                            <td>{{ lesson.trainingId.naam }}</td>
                        </tr>
                    {% elseif lesson.instructeur.id != app.user.id %}
                    {% else %}
                        <tr>
                            <td colspan="4">Niks gevonden</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for registration in registrations %}
                    {% if registration.user.id == user.id %}
                        <tr>
                            <td>{{ registration.lessonId.date  ? registration.lessonId.date|date('Y-m-d') : '' }}</td>
                            <td>{{ registration.lessonId.time  ? registration.lessonId.time|date('H:i') : '' }}</td>
                            <td>{{ registration.lessonId.location }}</td>
                            <td>{{ registration.lessonId.trainingId.naam }}</td>
                            <td>{{ registration.lessonId.trainingId.costs }}</td>
                            <td>
                                {% if registration.payment == true %}
                                    <button class="btn btn-outline-success">Betaalt</button>
                                {% else %}
                                    <button class="btn btn-outline-warning">Niet betaalt</button>
                                {% endif %}
                            </td>
                        </tr>
                    {% elseif registration.user.id != app.user.id %}
                    {% else %}
                        <tr>
                            <td colspan="6">Niks gevonden</td>
                        </tr>
                    {% endif %}
                {% else %}
                    <tr>
                        <td colspan="6">Niks gevonden</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>



    {% if "ROLE_USER" in user.roles %}
        <a type="button" class="btn btn-outline-success"
           href="{{ path('adminuser_index') }}">terug</a>
    {% elseif "ROLE_INSTRUCTEUR" in user.roles %}
        <a type="button" class="btn btn-outline-success"
           href="{{ path('admininstructeurs') }}">terug</a>
    {% endif %}


    {#    <a href="{{ path('user_index') }}">back to list</a>#}

    <a type="button" class="btn btn-outline-warning"
       href="{{ path('adminuser_edit', {'id': user.id}) }}">edit</a>

    {#    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>#}

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
